<html>
<head>
    <meta name="viewport" content="width=device-width">
</head>
<head>


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

</head>
<body>
<table style="width: 100%;height: 100px;background-color: black;text-align: center;">
    <tr>
        <td align="center">
            <a href="https://wmsdev.pl" style="text-decoration: none;color: white;font-family: 'Roboto', sans-serif;font-size: 3em;display: inline-block;vertical-align: middle;">
                <img src="https://www.adminpanel.wmsdev.pl/api/resources/cropped-logo_transparent.png" alt="" style="height: 70px;width: auto;vertical-align: middle;text-decoration: none;">
                <span style="display: inline-block;vertical-align: middle;color: white;margin-right: 10px;">WMS_DEV</span>
            </a>
        </td>
    </tr>
</table>
</body>
</html>
