<html>
<head>
    <meta name="viewport" content="width=device-width">
</head>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
</head>
<body>
<table style="width: 100%;background-color: black;text-align: center;min-height: 50px;color: white;font-family: 'Roboto', sans-serif;font-size: 10px;border-spacing: 0 50px;border-collapse: collapse;">
    <tr>
        <td align="left" style="width: 86%;text-align: left;padding: 10px;">
        <span>
            WMD_DEV - a software development student organization at Wrocław University of Science and Technology
        </span>
        </td>

        <td style="width: 7%;height: 100%;padding: 0 10px 0 0;">
            <a href="https://github.com/WMS-DEV">
                <img alt="" src="https://www.adminpanel.wmsdev.pl/api/resources/github-icon.png" style="height: 20px;width: auto;vertical-align: middle;text-decoration: none;margin: 0 auto;">
            </a>
        </td>

        <td style="width: 7%;height: 100%;padding: 0 10px 0 0;">
            <a href="https://wmsdev.pl">
                <img alt="" src="https://www.adminpanel.wmsdev.pl/api/resources/cropped-logo_transparent.png" style="height: 20px;width: auto;vertical-align: middle;text-decoration: none;margin: 0 auto;">
            </a>
        </td>
    </tr>


    <!-- This ensures the email is not trimmed in Gmail -->
    <tr style="opacity: 0; font-size: 1px">
        <td>%random_text%</td>
    </tr>
</table>
</body>
</html>
