<html>
<head>
  <meta name="viewport" content="width=device-width">
</head>
<head>


  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com">

</head>
<body>
<table style="width: 100%;background-color: transparent;font-family: 'Roboto', sans-serif;color: black;">
  <tr>
    <td align="center">
      <a href="%url%">
        <input type="submit" value="%text%" style="background-color: #080098;border: none;border-radius: 400px;color: white;padding: 10px 30px;text-align: center;font-size: 1.2em;min-width: 50%; cursor: pointer;">
      </a>
    </td>
  </tr>
</table>
</body>
</html>
